@if (CreateDivTag)
{
	<div class="divFlex">
		<div class="divFlexLabel">
			<label class="labelStatus" for="@ID">@Placeholder:</label>
		</div>
		<div class="divFlexSmall">
			@if (CreateTooltip)
			{
				<SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="@("#" + ID)" Width="100%" WindowCollision="true">
					<SfDatePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never"
								  Format="MM/dd/yyyy" ID="@ID" Max="@Max" Min="@Min" OnFocus="DTFocus" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateBox" ShowClearButton="false" ShowTodayButton="true"
								  StrictMode="true" TValue="DateTime" ValidateOnInput="true" Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width">
						<DatePickerEvents OnClose="OnClose" OnOpen="OnOpen" TValue="DateTime" ValueChange="OnChange"></DatePickerEvents>
					</SfDatePicker>
					<TooltipTemplates>
						<Content>
							<ValidationMessage For="@ValidationMessage" />
						</Content>
					</TooltipTemplates>
				</SfTooltip>
			}
			else
			{
				<SfDatePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never"
							  Format="MM/dd/yyyy" ID="@ID" Max="@Max" Min="@Min" OnFocus="DTFocus" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateBox" ShowClearButton="false" ShowTodayButton="true"
							  StrictMode="true" TValue="DateTime" ValidateOnInput="true" Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width">
					<DatePickerEvents OnClose="OnClose" OnOpen="OnOpen" TValue="DateTime" ValueChange="OnChange"></DatePickerEvents>
				</SfDatePicker>
			}
		</div>
	</div>
}
else
{
	@if (CreateTooltip)
	{
		<SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="@("#" + ID)" Width="100%" WindowCollision="true">
			<SfDatePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never" Format="MM/dd/yyyy"
						  ID="@ID" Max="@Max" Min="@Min" OnFocus="DTFocus" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateBox" ShowClearButton="false" ShowTodayButton="true" StrictMode="true"
						  TValue="DateTime" ValidateOnInput="true" Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width">
				<DatePickerEvents OnClose="OnClose" OnOpen="OnOpen" TValue="DateTime" ValueChange="OnChange"></DatePickerEvents>
			</SfDatePicker>
			<TooltipTemplates>
				<Content>
					<ValidationMessage For="@ValidationMessage" />
				</Content>
			</TooltipTemplates>
		</SfTooltip>
	}
	else
	{
		<SfDatePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never" Format="MM/dd/yyyy" ID="@ID"
					  Max="@Max" Min="@Min" OnFocus="DTFocus" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateBox" ShowClearButton="false" ShowTodayButton="true" StrictMode="true"
					  TValue="DateTime" ValidateOnInput="true" Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width">
			<DatePickerEvents OnClose="OnClose" OnOpen="OnOpen" TValue="DateTime" ValueChange="OnChange"></DatePickerEvents>
		</SfDatePicker>
	}
}